@import 'reset';
@import 'global';

$mainColor: #19191B;
$secondaryColor: #696871;
$firsBtnColor: #FF7143;
$secondBtnColor: #5454D4;

@mixin text($fz, $ls, $lh) {
    font-size: $fz;
    letter-spacing: $ls;
    line-height: $lh;
}

%btn-start {
    padding: 19px 60px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    @include text(17px, -0.531474px, 22px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

%btn-section {
    width: 160px;
    height: 55px;
    font-family: 'DM Sans', sans-serif;
    @include text(16px, -0.500211px, 21px);
    display: flex;
    justify-content: center;
    align-items: center;
}

%btn-box {
    height: 60px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    @include text(17px, -0.531474px, 22px);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 30px 0 100px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__burger {
        display: flex;
        flex-direction: column;
        width: 35px;
        height: 25px;
        justify-content: space-between;
        display: none;

        & div {
            width: 100%;
            height: 5px;
            border-radius: 20px;
            background-color: $firsBtnColor;
        }
    }

    &__menu {
        display: flex;
        gap: 49px;

        a {
            font-family: 'DM Sans', sans-serif;
            font-size: 15px;
            font-weight: 700;
            color: $secondaryColor;
        }

        a.active {
            color: $mainColor;
        }
    }

    .btn_orange {
        @extend %btn-start;
        background-color: $firsBtnColor;
    }
}

.main {
    .container {
        display: flex;
        align-items: center;
        gap: 77px;
    }

    &__offer {
        p {
            margin: 30px 0 50px 0;
            color: $secondaryColor;
        }

        div {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    }

    .btn_blue {
        @extend %btn-start;
        background-color: $secondBtnColor;
    }

    .scroll {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #e7e7e7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.partners {
    margin: 100px 0 150px 0;

    div {
        display: flex;
        gap: 122px;
    }
}

.index {
    .container {
        display: flex;
    }

    &__offer {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 0 0 0 165px;
        gap: 30px;

        p {
            width: 459px;
            color: $secondaryColor;
        }
    }
}

.metrics {
    margin: 83px 0 0 0;

    .container {
        display: flex;
    }

    &__offer {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 30px;
        margin: 80px 160px 0 0;

        p {
            width: 459px;
            color: $secondaryColor;
        }
    }
}

.cards {
    margin: 136px 0 150px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        display: flex;
        flex-direction: column;
        width: 307px;
        align-items: center;

        h4 {
            margin: 7px 0 20px 0;
        }

        p {
            @include text(16px, -0.500211px, 24px);
            color: $secondaryColor;
            text-align: center;
        }
    }
}

.price {
    &__title {
        display: flex;
        justify-content: space-between;
        margin: 0 0 82px 0;

        h2 {
            width: 523px;
            letter-spacing: -1.87579px;
        }
    }

    &__btn {
        background-color: #F7F7FB;
        width: 344px;
        height: 65px;
        border-radius: 10px;
        margin-top: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn_left {
            @extend %btn-section;
            border-radius: 10px 0 0 10px;
            background-color: $secondBtnColor;
            color: #FFFFFF;
            margin-right: 12px;
        }

        .btn_right {
            @extend %btn-section;
            border-radius: 0 10px 10px 0;
            background-color: #F7F7FB;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f8f8f8;
            width: 330px;
            height: 441px;

            p:first-child {
                @include text(18px, -0.562737px, 28px);
                margin: 34px 0 22px 0;
                color: $secondaryColor;
            }

            h2 {
                @include text(60px, -1.03448px, 56px);
            }

            h4 {
                @include text(28px, -1.03448px, auto);
            }

            p:nth-child(3) {
                @include text(17px, -0.531474px, 50px);
                text-align: center;
                margin: 28px 0 36px 0;
                width: 146px;
                color: $secondaryColor;
            }

            .text {
                display: flex;
                align-items: flex-end;
            }

            .btn__price {
                @extend %btn-box;
                width: 285px;
                color: $secondBtnColor;
                border: 1px solid #EAE9F2;
                background-color: #FFFFFF;
            }
        }

        .active {
            background-color: $firsBtnColor;
            width: 376px;
            height: 473px;

            p:first-child {
                margin-top: 50px;
                color: #FFFFFF;
            }

            p:nth-child(3) {
                color: #FFFFFF;
            }

            .text {
                color: #FFFFFF;
            }

            .btn__price_press {
                @extend %btn-box;
                width: 305px;
                color: #ffffff;
                background-color: #9F3919;
            }
        }
    }
}

// * {
//     border: 1px solid red;
// }

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .main {
        .container {
            gap: 0px;
        }

        &__image {
            width: 90%;
        }
    }

    .partners {
        div {
            gap: 90px;
        }
    }

    .index {
        &__offer {
            margin: 0 0 0 145px;
        }
    }

    .metrics {
        &__offer {
            margin: 80px 140px 0 0;
        }
    }

    .price {
        &__wrapper {
            gap: 10px;
        }
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .header {
        margin: 30px 0 60px 0;

        &__logo {
            img {
                width: 80%;
            }
        }

        &__menu {
            gap: 35px;
        }

        .btn_orange {
            padding: 13px 40px;
        }
    }

    .main {
        .container {
            gap: 0px;
        }

        &__offer {
            p {
                margin: 20px 0 20px 0;
            }

            div {
                gap: 40px;
            }
        }

        .btn_blue {
            padding: 13px 40px;
        }

        .scroll {
            width: 48px;
            height: 48px;
        }

        &__image {
            img {
                width: 130%;
                margin-left: -50px;
            }
        }
    }

    .partners {
        margin: 90px 0 80px 0;

        div {
            gap: 30px;
        }
    }

    .index {
        &__offer {
            margin: 0 0 0 0;
            gap: 20px;

            p {
                width: 370px;
            }
        }

        &__image {
            img {
                width: 90%;
            }
        }
    }

    .metrics {
        &__offer {
            margin: 0 20px 0 0;
            gap: 20px;

            p {
                width: 370px;
            }
        }

        &__image {
            img {
                width: 90%;
            }
        }
    }

    .cards {
        margin: 80px 0 80px 0;

        &__block {
            width: 220px;
        }
    }

    .price {
        &__wrapper {
            .box {
                width: 220px;
                height: 361px;

                p:first-child {
                    margin: 24px 0 15px 0;
                }

                h2 {
                    @include text(45px, -1.03448px, 56px);
                }

                p:nth-child(3) {
                    @include text(17px, -0.531474px, 40px);
                    width: 156px;
                    margin: 15px 0 15px 0;
                }

                .btn__price {
                    width: 180px;
                    height: 52px;
                }
            }

            .active {
                width: 246px;
                height: 383px;

                p:first-child {
                    margin-top: 34px;
                }

                .btn__price_press {
                    width: 200px;
                    height: 52px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .header {
        margin: 30px 0 68px 0;
        &__logo {
            img {
                width: 100%;
            }
        }

        &__burger {
            display: flex;
        }

        &__menu {
            display: none;
        }

        .btn_orange {
            display: none;
        }
    }

    .main {
        .container {
            flex-direction: column-reverse;
        }

        &__offer {
            p {
                margin: 40px 0 50px 0;
            }

            div {
                gap: 90px;

                .btn_blue {
                    padding: 19px 60px;
                }

                .scroll {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        &__image {
            img {
                width: 100%;
                margin-left: 0px;
            }
        }
    }

    .partners {
        margin: 90px 0 80px 0;

        div {
            flex-wrap: wrap;
            justify-content: center;
            gap: 55px;
        }
    }

    .index {
        .container {
            flex-direction: column;
        }

        &__offer {
            gap: 40px;

            p {
                width: auto;
            }
        }

        &__image {
            height: 440px;
            text-align: right;

            img {
                width: 70%;
            }
        }
    }

    .metrics {
        .container {
            flex-direction: column-reverse;
        }

        &__offer {
            text-align: right;
            margin: 0 0 0 0;
            align-self: flex-end;
            gap: 40px;

            p {
                width: auto;
            }
        }

        &__image {
            height: 450px;

            img {
                width: 70%;
            }
        }
    }

    .cards {
        margin: 80px 0 80px 0;

        .container {
            flex-direction: column;
            gap: 40px;
        }

        &__block {
            display: grid;
            grid-template-columns: 153px 1fr 1fr 1fr;
            grid-template-rows: auto;
            width: auto;
            grid-template-areas: "image title title title"
                "image text text text";

            div {
                grid-area: image;
                text-align: right;
            }

            h4 {
                grid-area: title;
                margin: 0 0 0 0;
                text-align: left;
            }

            p {
                grid-area: text;
                text-align: left;
            }
        }
    }

    .price {
        &__title {
            flex-direction: column;
            margin: 0 0 80px 0;
            align-items: center;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;

            .box {
                width: 395px;
                height: 440px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;

                p:first-child {
                    @include text(16px, -0.562737px, 28px);
                    margin: 40px 0 30px 0;
                }

                h2 {
                    @include text(41px, -1.03448px, 56px);
                }

                p:nth-child(3) {
                    @include text(14px, -0.531474px, 42px);
                    text-align: center;
                    margin: 22px 0 35px 0;
                    width: 136px;
                }

                .btn__price {
                    width: 298px;
                    height: 60px;
                    max-width: 100%;
                }

                .btn__price_press {
                    width: 298px;
                    height: 60px;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
    }

    .main {
        &__offer {
            width: 100%;

            p {
                @include text(18px, -0.625263px, 26px);
                margin: 22px 0 36px 0;
            }

            div {
                gap: 0px;
                justify-content: space-around;
            }
        }

        &__image {
            img {
                width: 85%;
                margin-left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }

    .partners {
        margin: 151px 0 173px 0;

        div {
            align-items: center;
            column-gap: 60px;
            row-gap: 20px;
        }
    }

    .index {
        &__offer {
            gap: 0px;

            p {
                @include text(18px, 0px, 26px);
                margin: 10px 0 18px 0;
            }
        }

        &__image {
            height: auto;
            text-align: left;
            margin: 0 0 50px 50px;
        }
    }

    .metrics {
        margin-top: 165px;

        &__offer {
            gap: 0px;
            text-align: left;

            p {
                @include text(18px, 0px, 26px);
                margin: 10px 0 18px 0;
            }
        }

        &__image {
            height: auto;
            margin: 0 0 50px 50px;
        }
    }

    .cards {
        margin: 167px 0 192px 0;

        .container {
            gap: 85px;
            align-items: center;
        }

        &__block {
            display: flex;

            div {
                text-align: center;
            }

            h4 {
                text-align: center;
                margin: 7px 0 20px 0;
            }

            p {
                text-align: center;
            }
        }
    }

    .price {
        &__title {
            margin: 0 0 52px 0;

            h2 {
                width: 100%;
            }

            .price__btn {
                margin-top: 16px;
                max-width: 100%;
            }
        }

        &__wrapper {
            .box {
                width: 345px;
                height: 386px;
                margin-bottom: 16px;
                max-width: 100%;

                p:first-child {
                    margin: 34px 0 22px 0;
                }

                p:nth-child(3) {
                    margin: 18px 0 18px 0;
                }
            }
        }
    }
}